.topic {
  background-color: #faebd7;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  background-image: url(https://resourcesk.bkt.net.vn/plugins/game/GameFlashVocab/bg_GameFlashV_bright.jpg);
  .icon {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 40px;
    height: 40px;
    color: #f0f8ff;
    background-color: #570861;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }

  .row {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 15px;
    gap: 20px;
    .box-img,
    .box-text {
      width: 200px;
      height: 200px;
      border: 8px solid white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #b6c7d6;
      margin: 20px 40px;
      font-size: 44px;
    }
    .box-text {
      font-size: 44px;
    }

    .box-img:nth-child(1) {
      margin-left: 30px;
    }
    .box-img:nth-child(2) {
      margin-top: -20px;
      margin-left: 70px;
      margin-right: 70px;
    }
    .box-img:nth-child(3) {
      margin-right: -10px;
    }
    img {
      overflow: hidden;
      width: 200px;
      height: 180px;
      border-radius: 50%;
    }
  }
  .score {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    gap: 20px;
  }
  .score__number,
  .score__progress {
    color: rgb(90, 49, 49);
    font-size: 44px;
    background-color: white;
    padding: 2px 50px;
    border-radius: 30px;
    text-align: center;
    border: 5px solid rgb(236, 219, 219);
  }
  .score__star {
    flex: 1;
    margin: 0 20px;
    border: 3px solid rgb(236, 219, 219);
    border-radius: 100px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    .score__border {
      width: 120px;
      height: 120px;
      border: 7px solid rgb(236, 219, 219);
      border-radius: 100px;
      display: flex;
      align-items: center;
      font-size: 44px;
      justify-content: center;
    }
    .score__image {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.background {
  width: 890px;
  margin: 0 auto;
  overflow-x: hidden;
  .row {
    
    span{
    }
  }
}
